In [1]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
import random as rd
import os

In [2]:
os.getcwd()

'C:\\Users\\vasudha.tanniru\\Documents\\GitHub\\data_projects\\iot-power-usage-analyzer'

In [3]:
timestamp_list = []
timestamp_range = pd.date_range('2025-05-01 00:00','2025-05-07 00:00',freq="10min")
# for i in timestamp_range:
#     timestamp_list.append(i)
timestamp_list = list(timestamp_range)
print(timestamp_list[:5])

[Timestamp('2025-05-01 00:00:00'), Timestamp('2025-05-01 00:10:00'), Timestamp('2025-05-01 00:20:00'), Timestamp('2025-05-01 00:30:00'), Timestamp('2025-05-01 00:40:00')]

In [4]:
len(timestamp_list)

865

In [5]:
household_list=[]
for i in range(10):
    household_list.append('HH'+str(i).zfill(3))
print(household_list)

['HH000', 'HH001', 'HH002', 'HH003', 'HH004', 'HH005', 'HH006', 'HH007', 'HH008', 'HH009']

In [6]:
base_records = []
for timestamp in timestamp_list:    
    for house in household_list:
        base_records.append([timestamp,house])
print(base_records[:3])

[[Timestamp('2025-05-01 00:00:00'), 'HH000'], [Timestamp('2025-05-01 00:00:00'), 'HH001'], [Timestamp('2025-05-01 00:00:00'), 'HH002']]

In [7]:
full_data_records = []
print(full_data_records[:4])

[]

In [8]:
# voltage = np.random.normal(loc=230,scale=3)
# usage = np.random.exponential(scale=0.2)
# device_status = rd.choices(['ON','OFF'],weights=[85,15])[0]
# region = rd.choice(['North','South','East','West'])

In [9]:
for timestamp,household_id in base_records:
    voltage = round(np.random.normal(loc=230,scale=3),2)
    usage = round(np.random.exponential(scale=0.2),3)
    device_status = rd.choices(['ON','OFF'],weights=[85,15])[0]
    region = rd.choice(['North','South','East','West'])
    full_data_records.append([timestamp,household_id,voltage,usage,device_status,region])
print(full_data_records[:4])

[[Timestamp('2025-05-01 00:00:00'), 'HH000', 229.58, 0.249, 'ON', 'East'], [Timestamp('2025-05-01 00:00:00'), 'HH001', 226.37, 0.208, 'ON', 'South'], [Timestamp('2025-05-01 00:00:00'), 'HH002', 231.92, 0.005, 'ON', 'South'], [Timestamp('2025-05-01 00:00:00'), 'HH003', 230.77, 0.106, 'ON', 'East']]

In [10]:
df = pd.DataFrame(full_data_records, columns=[
    'timestamp', 'household_id', 'voltage', 'usage_kwh', 'device_status', 'region'
          ])

In [11]:
df.describe()

                 timestamp      voltage    usage_kwh
count                 8650  8650.000000  8650.000000
mean   2025-05-04 00:00:00   229.957756     0.200866
min    2025-05-01 00:00:00   218.090000     0.000000
25%    2025-05-02 12:00:00   227.960000     0.057000
50%    2025-05-04 00:00:00   229.930000     0.137000
75%    2025-05-05 12:00:00   231.907500     0.274000
max    2025-05-07 00:00:00   240.370000     2.011000
std                    NaN     2.970779     0.204945

In [12]:

print(df.info())
print(len(df))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8650 entries, 0 to 8649
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      8650 non-null   datetime64[ns]
 1   household_id   8650 non-null   object
 2   voltage        8650 non-null   float64
 3   usage_kwh      8650 non-null   float64
 4   device_status  8650 non-null   object
 5   region         8650 non-null   object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 405.6+ KB
None
8650

In [13]:
df.to_csv('data/iot_power_usage.csv',index=False)

In [14]:
owner_name = []
for i in range(10):
    owner_name.append('Owner_'+str(i).zfill(3))
print(owner_name)

['Owner_000', 'Owner_001', 'Owner_002', 'Owner_003', 'Owner_004', 'Owner_005', 'Owner_006', 'Owner_007', 'Owner_008', 'Owner_009']

In [15]:

start_date = datetime(2024, 5, 1)
end_date = datetime(2025, 4, 30)
delta_days = (end_date - start_date).days
random_days = rd.randint(0, delta_days)
random_install_date = start_date + timedelta(days=random_days)
formatted_date = random_install_date.date() 
print(formatted_date)

2024-10-22

In [16]:
owner_data = []
for house in household_list:
    owner = rd.choice(owner_name)
    region = rd.choice(['North','South','East','West'])
    start_date = formatted_date
    owner_data.append([house,owner,region,start_date])

print(owner_data[:6])

[['HH000', 'Owner_005', 'West', datetime.date(2024, 10, 22)], ['HH001', 'Owner_008', 'East', datetime.date(2024, 10, 22)], ['HH002', 'Owner_005', 'East', datetime.date(2024, 10, 22)], ['HH003', 'Owner_003', 'East', datetime.date(2024, 10, 22)], ['HH004', 'Owner_001', 'East', datetime.date(2024, 10, 22)], ['HH005', 'Owner_003', 'East', datetime.date(2024, 10, 22)]]

In [17]:
df3 = pd.DataFrame(owner_data, columns=[
     'household_id', 'owner_name', 'region', 'install_date'
          ])

In [18]:
df3.head()

  household_id owner_name region install_date
0        HH000  Owner_005   West   2024-10-22
1        HH001  Owner_008   East   2024-10-22
2        HH002  Owner_005   East   2024-10-22
3        HH003  Owner_003   East   2024-10-22
4        HH004  Owner_001   East   2024-10-22

In [20]:
df3.to_csv('data/household_info.csv',index=False)